.container {
    margin-left: -1rem;
    margin-right: -1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width: 50rem) {
    .container {
        flex-wrap: initial;
        overflow-x: scroll;
    }

    .container li + li {
        margin-left: 2rem;
    }
}