.containerAmplitude {
    max-width: 300px;
    border-radius: 0.5rem;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 4px 4px 10px rgba(22,70,115, 0.2);
    overflow: hidden;
}

.titulo {
    padding: 0.5rem;
    font-size: 1.125rem;
    text-align: center;
    text-transform: uppercase;
    color: #F4F4F4;
    background-color: #164673;
}

.tableAmplitude {
    padding: 1rem;
    text-align: center;
}