.container {
    min-height: calc(100vh - 10rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.container h1 {
    width: 100%;
    margin-bottom: 2rem;
}